<div class="container-fluid main-header bg-primary" >
  <form class="search-form" #form='ngForm' (ngSubmit)="onSubmit(form)" >
    <span class="logo text-white fw-bold px-1" routerLink="/">NgVGBD</span>
      <input
        type="text"
        class="from-control m-1"
        name="search"
        ngModel
        placeholder="Search 500,000+ games"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    <button type="button" class="btn btn-primary btn-hover btn-sm m-1" >Search</button>
  </form>
</div>
