<div class="filters">
  <form>
    <select class="form-select" aria-label="form-select">
      <option value="name">Name</option>
      <option value="-released">Released</option>
      <option value="-added">Added</option>
      <option value="-created">Created</option>
      <option value="-updated">Updated</option>
      <option value="-rating">Rating</option>
      <option value="metacritic">Metacritic</option>
    </select>
  </form>
</div>


<div class="games d-flex flex-wrap align-middle bg-dark">
  <ng-container *ngFor="let game of games" >
    <div class="card bg-info col-sm-6 text-center mx-auto mt-3 card-hover" style="width: 18rem;">
      <div class="game-thumbnail-container">
        <img
          *ngIf="game.background_image"
          src="{{game.background_image}}"
          alt="thumbnail"
          class="game-thumbnail card-img-top"
        />
      <p *ngIf="!game.background_image">No image</p>
      </div>
      <div class="game-description card-body">
        <p class="game-name card-title fw-bold">{{ game.name }}</p>
        <div class="game-platforms">
          <img
             *ngFor="let gamePlatform of game.parent_platforms"
              class="game-platform m-1"
              src="./assets/images/platforms/{{ gamePlatform.platform.slug }}.svg"
              alt="{{ gamePlatform.platform.slug }}"
            />
        </div>
        <button class="btn btn-outline-info" (click)="openGameDetails(game.id)" >More Details</button>
      </div>
    </div>
  </ng-container>
</div>


